<% if @subsidiary.errors.any? %>
    <p>Você deve corrigir os seguintes erros para continuar:</p>
    <% @subsidiary.errors.full_messages.each do |message| %>
        <p><%= message %></p>
    <% end %>
<% end %>

<%= form_for @subsidiary do |f| %>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
    <%= f.label :cnpj, 'CNPJ' %>
    <%= f.text_field :cnpj %>
    <%= f.label :address, 'Endereço' %>
    <%= f.text_field :address %>
    <%= f.submit 'Enviar' %>
<% end %>