 <%= link_to 'Registrar nova filial', new_subsidiary_path %>

<% if @subsidiaries.empty? %>
    <p>Nenhuma filial cadastrada</p>
<% end %>

 <% @subsidiaries.each do |subsidiary| %>
    <%= link_to subsidiary.name, subsidiary %>
<% end %>