<%= @subsidiary.name %>
<%= @subsidiary.cnpj %>
<%= @subsidiary.address %>

<%= link_to 'Editar', edit_subsidiary_path(@subsidiary) %>
<%= link_to 'Deletar', @subsidiary,  method: :delete, data: { confirm: 'Tem certeza?' } %>
<%= link_to 'Voltar', root_path %>