<p id="notice"><%= notice %></p>
<h1>Rental Cars</h1>
<h3>Bem vindo ao sistema de gestão de locação</h3>

<%= link_to 'Fabricantes', manufacturers_path %>
<%= link_to 'Filiais', subsidiaries_path %>
<%= link_to 'Categorias', car_categories_path %>
<%= link_to 'Modelos', car_models_path %>