<%= @car_category.name %>
<%= @car_category.daily_rate %>
<%= @car_category.car_insurance %>
<%= @car_category.third_party_insurance %>

<%= link_to 'Editar', edit_car_category_path(@car_category) %>
<%= link_to 'Deletar', @car_category,  method: :delete, data: { confirm: 'Tem certeza?' } %>
<%= link_to 'Voltar', root_path %>