<% if @manufacturer.errors.any? %>
    <p>Você deve corrigir os seguintes erros para continuar:</p>
    <% @manufacturer.errors.full_messages.each do |message| %>
        <p><%= message %></p>
    <% end %>
<% end %>

<%= form_for @manufacturer do |f| %>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
    <%= f.submit 'Enviar' %>
<% end %>