<%= @car_model.name %>
<%= @car_model.year %>
<%= @car_model.manufacturer.name %>
<%= @car_model.motorization %>
<%= @car_model.car_category.name %>
<%= @car_model.fuel_type %>

<%= link_to 'Editar', edit_car_model_path(@car_model) %>
<%= link_to 'Voltar', root_path %>